## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## Test results
TestResults/
coverage.cobertura.xml
*.coverage
*.coveragexml

## BenchmarkDotNet artifacts
BenchmarkDotNet.Artifacts/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/

## IDE
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider
.idea/

## OS
Thumbs.db
.DS_Store
